---
import { slugifyStr } from "@/utils/slugify";
import Datetime from "./Datetime.astro";
import type { CommonContent } from "@/content.config";

export interface Props {
  href?: string;
  frontmatter: CommonContent;
  secHeading?: boolean;
}

const { href, frontmatter, secHeading = true } = Astro.props;

const { title, pubDatetime, modDatetime, description, draft} = frontmatter;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium decoration-dashed hover:underline",
};
---

<li class="my-6">
  <a
    href={href}
    class="flex flex-row content-center gap-3 text-lg font-medium text-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0 "
  >
    {
      secHeading ? (
        <h2 {...headerProps}>{title}</h2> 
      ) : (
        <h3 {...headerProps}>{title}</h3>
    )}
    {draft ? <span class="text-xs my-auto">(Work in progress)</span>: ''
    }
  </a>
  <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
  <p>{description}</p>
</li>
